body {
    margin: 0;
    font-family: 'Uchen', serif;
}

.text-colour-orange {
    color: orange;
}

section {
    margin-bottom: 100px;
}

#header-section {
    padding-left: 100px;
}

.flexible {
    display: flex;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.half-width img {
    width: 100%;
}

.half-width {
    width: 45%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    display: inline-block;
    margin-top: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
}

#small-pic-size {
    width: 45%;
    display: block;
    margin: 0 auto;
}

.about-section {
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-left: 50px;
}

.text-center {
    text-align: center;
}

.one-third-width {
    width: 25%;
    margin: 20px 50px;
    padding: 18px;
}

.one-third-width img {

    width: 100%;
    display: inline-block;
    margin: 0 auto;
}

.box-shadow {
    box-shadow: 5px 5px 20px gray;
    border-radius: 15px;
}

#menu-section {
    margin: 0 50px;
}

footer {
    background-color: black;
    padding: 20px 80px;
}

footer h3 {
    color: gray;
    font-size: 30px;
}

footer p {
    color: white;
}